[BASIC]
# Good variable names which should always be accepted, separated by a comma.
good-names=i, j, k, n, id, os


[FORMAT]
# Maximum number of characters on a single line.
max-line-length=100


[DESIGN]
# Maximum number of arguments for function / method.
max-args=7
# Maximum number of attributes for a class (see R0902).
max-attributes=15
# Minimum number of public methods for a class (see R0903).
min-public-methods=0


[MESSAGES CONTROL]
# Disable the message, report, category or checker with the given id(s).
disable=no-member,
        assigning-non-slot,
        protected-access,
        no-name-in-module,
        arguments-differ,
        duplicate-code,
        missing-function-docstring
